// 新筛选组件样式（咨询本） by tianyu.chen @2017年7月17日13:38:42
@consultFilter-prefix-cls: ~"@{css-prefix-spui-business}consultFilter";

.@{consultFilter-prefix-cls} {

    width: 1186px;
    height: 130px;
    position: relative;
    background:#fff;
    border:1px solid #D4DFE5;

    
    &>ul{
        height: 70px;
        border-bottom:1px solid #D4DFE5;
    }

    & .ivu-select-selection{
        float: right;
        margin-top: 1.7%;
        margin-right: 2.2%;
    }

    &-fitlerResult{
        width:1186px;
        height:60px;
        border-top:none;
    }

    &-container{
        position: absolute;
        top:0;
        margin-top:5%;
        right:0;
        width:360px;
        height:580px;
        background: #fff;
        box-shadow: 0 5px 20px 0 rgba(53,83,158,0.30);
        border-radius: 10px;
    }
}