@table-prefix-cls2: ~"@{css-prefix-spui}table";
@table-select-item-prefix-cls: ~"@{table-prefix-cls2}-filter-select-item";
.@{table-prefix-cls2} {
    width: inherit;
    height: 100%;
    max-width: 100%;
    color: @text-color;
    font-size: @font-size-base;
    background-color: @table-td-bg;
    box-sizing: border-box;
    position: relative;
    &-hide {
        opacity: 0;
    }
    &-scrollBar {
        overflow: auto;
        background: @table-scrollBar-bg ;
        height: 9px;
    }
    .@{css-prefix-spui}scrollbar-thumb {
        background: @primary-color;
        &:hover {
            background: @dark-primary-color;
        }
    }
    .@{css-prefix-spui}scrollbar-bar.is-horizontal {
        height: 8px;
    }
    &-headWrap {
        position: relative;
        background:@table-thead-bg;
        z-index: 10;
    }
    &-head-tip {
        vertical-align: middle;
        display: inline-block
    }
    &-footer {
        border-bottom: none;
    }
    &-header {
        overflow: hidden;
        width: 100%;
    }
    &-body {
        overflow-y: auto;
        overflow-x: hidden; //position: relative;
    }
    &-bodywrap {
        position: relative;
        padding: 0 20px 20px 20px;
    }
    &-with-fixed-top&-with-footer {
        .@{table-prefix-cls2}-footer {
            border-top: 1px solid @border-color-base;
        }
        tbody tr:last-child td {
            border-bottom: none;
        }
    }
    th,
    td {
        min-width: 0;
        height: 40px;
        box-sizing: border-box;
        vertical-align: middle;
        border-bottom: 1px solid @border-color-split;
    }
    th {
        height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        font-weight: normal;
        background-color: @table-thead-bg;
        padding: 10px 0;
    }
    td {
        background-color: @table-td-bg;
        text-align: center;
        transition: background-color @transition-time @ease-in-out;
        text-overflow: ellipsis;
        color: @table-font-color;
        padding: 6px 0;
    }
    td&-column {
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }
    & table {
        width: auto;
        table-layout: fixed;
        tr td:first-child .@{table-prefix-cls2}-cell,
        tr th:first-child .@{table-prefix-cls2}-cell {
            .ivu-checkbox-wrapper {
                margin: 0;
            }
            padding-left:0;
        }
        tr td:last-child .@{table-prefix-cls2}-cell,
        tr th:last-child .@{table-prefix-cls2}-cell {
            padding-right: 0;
        }
        .ivu-tooltip-popper {
            white-space: normal;
            word-break: break-all;
        }
    }
    &-border {
        th,
        td {
            border-right: 1px solid @border-color-split;
        }
    }
    &-cell {
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        box-sizing: border-box;
        &-noEllipsis {
            word-break: normal;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-with-expand {
            height: 47px;
            line-height: 47px;
            padding: 0;
            text-align: center;
        }
        &-expand {
            cursor: pointer;
            transition: transform @transition-time @ease-in-out;
            i {
                font-size: @font-size-base;
            }
            &-expanded {
                transform: rotate(90deg);
            }
        }
    }
    &-hidden {
        visibility: hidden;
    }
    th &-cell {
        display: inline-block; //position: relative;
        // word-wrap: normal;
        white-space: nowrap;
        vertical-align: middle;
    }
    &-stripe &-body,
    &-stripe &-fixed-body {
        tr:nth-child(2n) {
            td {
                background-color: @table-td-stripe-bg;
            }
        }
    }
    tr&-row-hover {
        td {
            background-color: @table-td-hover-bg;
        }
        td.@{table-prefix-cls2}-column-link{
            background-color:@table-link-td-hover-bg;
        }
    }
    tr&-row-hover &-row-canedit>i {
        visibility: visible !important;
        color:@dark-primary-color;
        font-size: 16px;
    }
    &-row-highlight,
    tr&-row-highlight&-row-hover,
    &-stripe &-body tr&-row-highlight:nth-child(2n),
    &-stripe &-fixed-body tr&-row-highlight:nth-child(2n) {
        td {
            background-color: @table-td-highlight-bg;
        }
    }
    &-fixed-body-inner{
        overflow-y:scroll;
        overflow-x:hidden;
        background-color: @table-td-bg;
        margin-right:-20px;
    }
    &-fixed{
        overflow:hidden;
    }
    &-fixed,
    &-fixed-right {
        position: absolute;
        bottom: 0;
        box-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.2);
    }
    &-showmore {
        position: absolute;
        right: -5px;
        top: 12px;
        z-index: 10;
    }
    &-showmore-icon {
        font-size: 25px;
        transform: rotate(90deg);
        color:@darker-primary-color;
    }
    &-custom-pop{
        .ivu-modal-header p{
            text-align: center;
        }
        .ivu-modal-body{
            padding: 20px;
        }

    }
    &-custom-subtitle{
        text-align:left;
        font-weight:bold;
    }
    &-custom-subcontent{
        text-align:left;
    }
    &-custom-columns{
        width: 101px;
        padding: 5px 0;
        height: 20px;
        margin-left: 0px;
        margin-right:0px;
    }
    &-control-btn{
        padding:4px 10px;
    }
    &-control-drop{
        display: inline-block;
        position: absolute;
    }
    &-control-dropdown{
        position: absolute;
        width: 100px;
        left: -96px;
        top:20px;
    }
    &-fixed {
        left: 0;
        tr td:last-child .@{table-prefix-cls2}-cell,
        tr th:last-child .@{table-prefix-cls2}-cell {
            padding-right: 10px!important;
        }
    }
    &-fixed-right {
        left: auto;
        right: 0;
        box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.2);
        tr td:first-child .@{table-prefix-cls2}-cell,
        tr th:first-child .@{table-prefix-cls2}-cell {
            padding-left: 10px!important;
        }
    }
    &-fixed-shadow {
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: @shadow-right;
        overflow: hidden;
        z-index: 1;
    }
    &-sort {
        .sortable();
        font-size: 13px;
        width: 18px;
        height: 18px;
        padding: 0 3px;
        i:first-child {
            top: 3px;
        }
        i:last-child {
            bottom: 3px;
        }
        &:hover i {
            color: @primary-color
        }
    }
    &-filter {
        display: inline-block;
        cursor: pointer;
        position: relative;
        i {
            color: @btn-disable-color;
            transition: color @transition-time @ease-in-out;
            &:hover {
                color: inherit;
            }
            &.on {
                color: @primary-color;
            }
        }
        &-list {
            padding: 8px 0 0;
            &-item {
                padding: 0 12px 8px;
                .ivu-checkbox-wrapper+.ivu-checkbox-wrapper {
                    margin: 0;
                }
                label {
                    display: block;
                    margin-bottom: 4px;
                    &>span {
                        margin-right: 4px;
                    }
                }
            }
            ul {
                padding-bottom: 8px;
            }
            .select-item(@table-prefix-cls2, @table-select-item-prefix-cls);
        }
        &-footer {
            padding: 4px;
            border-top: 1px solid @border-color-split;
        }
    }
    .ivu-poptip-popper {
        min-width: 0;
        text-align: left;
    }
    thead .ivu-poptip-popper {
        .ivu-poptip-body {
            padding: 0;
        }
    }
    &-tip {
        table {
            width: 100%;
            td {
                text-align: center;
            }
        }
    }
}