*.iml
.idea
.ipr
.iws
*.diff
*.patch
*.bak
.DS_Store
node_modules/
node_modules2/
.project
.settings
npm-debug.log
.*proj
.svn/
*.swp
*.swo
*.log
examples/dist/
dist/
yarn-error.log
test/unit/coverage
.vscode
src/styles/common/iconfont/fonts/spicons.eot
src/styles/common/iconfont/fonts/spicons.ttf
src/styles/common/iconfont/fonts/spicons.woff
