.xb-icon {
      font-size: 10px;
      vertical-align:middle;
      display: inline-block;
      background-image: url("./svgSprite.svg");
      background-repeat: no-repeat;
      background-size: 4em 20em;
}
.xb-icon.xb-icon-tag-balance {
      background-position: 0em 0em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-class {
      background-position: 0em -2em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-currency {
      background-position: 0em -4em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-diamond {
      background-position: 0em -6em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-full {
      background-position: 0em -8em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-lesson {
      background-position: 0em -10em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-new {
      background-position: 0em -12em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-oneToOne {
      background-position: 0em -14em;
      width: 2em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-renew {
      background-position: 0em -16em;
      width: 4em;
      height: 2em;
  }
.xb-icon.xb-icon-tag-school {
      background-position: 0em -18em;
      width: 2em;
      height: 2em;
  }
